<!--Expandable components-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>{{params.title}}</ion-title>
  </ion-navbar>
</ion-header>
<!--Content-->
<ion-content>
  <expandable-layout-1
    *ngIf="params.expandableLayout1"
    [data]="params.data"
    [events]="params.events">
  </expandable-layout-1>

  <expandable-layout-2
    *ngIf="params.expandableLayout2"
    [data]="params.data"
    [events]="params.events">
  </expandable-layout-2>
</ion-content>
