<!--Theme Wizard Simple + icon-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>{{data.toolBarTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<!--Content -->
<ion-content>
  <ion-slides #wizardSlider (ionSlideDidChange)="slideHasChanged()" pager="true">
    <ion-slide *ngFor="let item of data.items;">
      <ion-icon icon-large>
        <i class="icon {{item.iconSlider}}"></i>
      </ion-icon>
      <h1 wizard-title>{{item.title}}</h1>
      <p wizard-body-text>{{item.description}}</p>
    </ion-slide>
  </ion-slides>
  <!--Button section-->
  <button ion-button button-clear clear left (click)="changeSlide(-1)" *ngIf="show('prev')">
      {{data.btnPrev}}
  </button>
  <button ion-button button-clear clear right (click)="changeSlide(1)" *ngIf="show('next')">
      {{data.btnNext}}
  </button>
  <button ion-button button-clear clear right (click)="onEvent('onFinish')" *ngIf="show('finish')">
      {{data.btnFinish}}
  </button>
</ion-content>
