/*  # Style Image Sub-Gallery for Category 1 (Animals)
=======================================================*/
sub-image-gallery-layout-1 {
  .half {
    position: relative;
    width: 49.7% !important;
    height: 130px;
    float: left;
    display: block;
    margin: 0 2px 2px 0;
  }

  ion-list > .half:nth-child(2n) {
    margin: 0 0 2px;
  }

  .gallery-title {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(37, 37, 37, 0.5)!important;
    bottom: 0;
    min-height: 45px;
    border-bottom: 1px solid transparent !important;

    ion-icon .icon {
      color: theme-colors('textColors', 'primary');
      font-size: icon-size('icon-small');
      margin-top: 5px;
      display: block;
    }
  }
}
