<!--Theme Category 1 (Animals)-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-left>{{data.toolBarTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<!--Content -->
<ion-content no-padding>
  <ion-list no-padding>
    <ion-card background-size class="half" (click)="openSubGallery(data, i)"
    *ngFor="let group of data.items;let i = index;" [ngStyle]="{'background-image': 'url(' + group.image + ')'}">
      <div class="gallery-title">
        <h2 item-title>{{group.title}}</h2>
        <p item-subtitle>{{group.items.length}} image(s)</p>
        <ion-icon (click)="onEvent('onFavorite', group, $event)">
          <i class="icon" [ngClass]="{'icon-heart': group.favorite, 'icon-heart-outline': !group.favorite}"></i>
        </ion-icon>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
